node_modules/
.quicktododata/
.quicktododata*
.quicktododata/**
.quicktododata*.json

# For compatibility with the design, ignore the data directory
.quicktododata/

# Ignore macOS system files
.DS_Store
